* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #211a6a !important; /* Fondo oscuro */
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f8f9fa !important; /* Logo blanco */
}

.nav-link {
  font-size: 1.1rem;
  padding: 0.8rem 1.2rem;
  color: #cccccc !important; /* Texto blanco */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f3f3f3 !important; /* Color de hover */
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-light:hover {
  background-color: #943489;
  color: white;
  border-color: #929292;
}

.modal-content {
  background-color: #343a40; /* Fondo oscuro del modal */
}

.modal-header, .modal-body, .modal-footer {
  color: #f8f9fa; /* Texto claro */
}
  /* Estilo para section estrenos de cartelera */
  .card-custom {
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Para evitar que la imagen se desborde */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .img-container {
    overflow: hidden; /* Evita que la imagen se desborde */
  }

  /* Efecto hover para la tarjeta */
  .card-custom:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra */
  }

  /* Efecto hover para las imágenes */
  .img-hover {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .img-hover:hover {
    transform: scale(1.1); /* Zoom al pasar el ratón */
    opacity: 0.8; /* Leve oscurecimiento */
  }

  /* Estilo del card-body */
  .card-body {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y semitransparente */
    border-radius: 0 0 15px 15px;
  
  }

  .card-body .card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #f8f9fa;
  }
/* Estilos para los botones de control */
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Ajuste el tamaño de los botones */
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Posiciones específicas para los botones */
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}

/* Iconos de los botones */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: white;
  width: 20px;
  height: 20px;
}

/* Efecto hover */
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/*------------Seccion Top Peliculas------------ */
.seccion-top-10 {
  background-image: url("../img/fondo/fondo-top10.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px;
}

.titulo-seccion {
  font-family: "Playfair Display", serif; /* Fuente para el título */
  font-size: 2.5rem; /* Tamaño más destacado */
  font-weight: bold;
  color: #d5d5d5;
  text-align: left;
  margin-bottom: 20px;
  padding: 40px;
}

.seccion-top-10 h2 {
  padding: 30px;
}

.top-10 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Cambiado a wrap para permitir el apilamiento de tarjetas */
  overflow-x: auto;
}

.pelicula {
  position: relative;
  flex: 1 1 calc(20% - 20px); /* Tarjetas flexibles con un 20% de ancho pero ajustable */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Añadir margen inferior para evitar que las tarjetas toquen */
}

.pelicula img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pelicula:hover img {
  transform: scale(1.1);
}

.numero {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 100px;
  font-weight: bold;
  color: rgba(5, 124, 221, 0.377);
  text-shadow: 2px 2px 4px rgba(11, 11, 11, 0.8);
  z-index: 1;
  pointer-events: none;
}

.estrellas {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.estrellas i {
  font-size: 20px;
  color: #a4a4a4;
  margin: 0 3px;
}

/* Adaptabilidad */
@media (max-width: 768px) {
  .pelicula {
    flex: 1 1 calc(33.33% - 20px); /* 3 tarjetas por fila en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .pelicula {
    flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila en móviles */
  }
}

/* Estilos personalizados mínimos para Próximos Estrenos */
.estrenos {
  background-color:darkslateblue;
  font-family: 'Gill Sans', sans-serif;
}

.titulo-seccion {
  color: #d5d5d5;
  font-family: "Playfair Display", serif; 
}


.estreno .card-body {
  background-color: rgba(212, 212, 212, 0.866); /* Fondo semi-transparente */
}

.estreno-ano {
  font-size: 1rem;
  color: #382f7a;
  font-weight: bold;
}

.estreno-titulo {
  color: #382f7a;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.estreno-titulo:hover {
  color: #280fb4;
}

.estreno-descripcion {
  font-size: 0.9rem;
  color: #4a4949;
  font-family: 'Segoe UI', Tahoma, Ge
neva, Verdana, sans-serif;
}

/* Responsividad */
@media (max-width: 768px) {
  .estreno .card-body {
    text-align: center;
  }
}

  /* Estilo para las tarjetas en pantallas grandes (escritorio) */
  @media (min-width: 768px) {
    .tarjeta {
      width: 22%;
    }
  }
  
  /* Botones de control (anterior y siguiente) */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  .map-form-section {
    background-color: #564095;
    position: relative;
    padding: 50px 0;
  }
  
  .map-form-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://image.slidesdocs.com/responsive-images/background/desolate-cinema-in-3d-no-one-in-sight-powerpoint-background_034b796525__960_540.jpg) no-repeat center center/cover;
    opacity: 0.3;
    z-index: 1;
  }
  
  .map-form-section .content {
    position: relative;
    z-index: 2;
  }
  
  .map-container iframe {
    width: 100%;
    height: 445px;
    border: none;
  }
  
  .form-container {
    background:#c3b0f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
     /* Ajustes responsivos para el mapa */
     @media (max-width: 768px) {
        .map-container iframe {
            height: 200px;
        }
    }
  
    @media (max-width: 576px) {
        .map-container iframe {
            height: 150px;
        }
    }
    body {
      background-color: #f8f9fa;
  }
  h1 {
      color: #007bff;
  }
  .team-member img {
      max-width: 150px;
  }
  .contact-icons a {
      margin: 0 10px;
      color: #007bff;
      font-size: 1.5rem;
  }
  .contact-icons a:hover {
      color: #ff5722;
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



/************** estilo Login *************/
.login-container {
  background-image: url(../img/fondo/fondo\ login.jpg); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Estilos para el formulario */
.bg-opacity-75 {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  border-radius: 15px;
}

  .titulo-principal {
    font-family: "Playfair Display", serif; 
  }



.form-control {
  border-radius: 10px;
  padding: 15px;
  background-color: #1f1f1f;
  color: white;
}

.form-control::placeholder {
  color: rgb(227, 226, 226);
}

/* Estilos de los botones de redes sociales */
.btn-google {
  background-color: #db4437;
  border-color: #db4437;
}

.btn-google:hover {
  background-color: #c1351d;
}

.btn-facebook {
  background-color: #395daa;
  border-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #2d4373;
}
.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.modal-body input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.modal-footer .btn {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn:hover {
  background-color: #0056b3;
}

/* Responsividad */
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  .row {
    margin: 0;
  }
}
body {
  background-image: url('https://img.global.news.samsung.com/global/wp-content/uploads/2018/12/Samsung-Onyx-Capital-Theater-Beijing_main.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
body::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.692); /* Oscurece la imagen de fondo */
z-index: -1;
}
.card {
background: rgba(0, 0, 0, 0.7);
color: #fff;
}
h3, h4 {
color: #DC7BB1;
}
.btn-primary {
background-color: #DC7BB1;
border-color: #DC7BB1;
}
.btn-primary:hover {
background-color: #DC7BB1;
border-color: #DC7BB1;
}
.list-group-item {
background: rgba(0, 0, 0, 0.5);
color: #fff;
}
.pagination .page-link {
background-color: #DC7BB1;
border-color: #DC7BB1;
color: #000;
}
.pagination .page-link:hover {
background-color: #DC7BB1;
border-color: #DC7BB1;
color: #000;
}
.pagination .page-item.active .page-link {
background-color: #DC7BB1;
border-color: #DC7BB1;
color: #fff;
}

.detalle-body {
position: relative;
background-image: url('https://i.blogs.es/e2fe91/captura-de-pantalla-2024-10-31-a-las-18.07.59/500_333.jpeg');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
color: #fff;
margin: 0;
padding: 0;
}

/* Oscurecer el background solo para este contenedor */
.detalle-body::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
z-index: -1;
}

/* Estilos personalizados para esta página */
.detalle-overlay {
background: rgba(0, 0, 0, 0.7);
padding: 20px;
border-radius: 10px;
}

.detalle-title {
color: #564095;
font-weight: bold;
}

.detalle-card {
background: rgba(51, 49, 49, 0.664);
color: #fff;
border: none;
}

.detalle-btn {
background-color:#564095;
border: none;
color: #000;
font-weight: bold;
}

.detalle-btn:hover {
background-color: #564095;
}

.detalle-form-control {
background: rgba(128, 126, 126, 0.6);
color: #fff;
border: none;
}

.detalle-form-control::placeholder {
color: #ccc;
border: none;
}

.detalle-image-container {
text-align: center;
}

.detalle-img {
display: block;
margin: 0 auto;
max-width: 100%;
height: auto;
}
/* Contenedor principal único */
.custom-detalle-container {
position: relative;
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
            url('https://media.revistagq.com/photos/665eca6ba0931fb1497451ac/16:9/w_2560%2Cc_limit/venomlettherebecarnage_gallery_1_0.png') center/cover no-repeat;
color: #fff;
}
/* Limitar estilos a este contenedor */
.custom-detalle-container .custom-detalle-overlay {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.custom-detalle-container .custom-detalle-title {
  color: #564095;
  font-weight: bold;
}

.custom-detalle-container .custom-detalle-card {
  background: rgba(102, 99, 99, 0.8);
  color: #fff;
  border: none;
}

.custom-detalle-container .custom-detalle-btn {
  background-color: #564095;
  border: none;
  color: #4d4949;
  font-weight: bold;
}

.custom-detalle-container .custom-detalle-btn:hover {
  background-color: #564095;
}

.custom-detalle-form-control {
  background: rgba(116, 109, 109, 0.473);
  color: #fff;
  border: none;
}

.custom-detalle-form-control::placeholder {
  color: #ccc;
  border: none;
}

.custom-detalle-container .custom-detalle-image-container {
  text-align: center;
}

.custom-detalle-container .custom-detalle-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
/* Quitar bordes de los comentarios */
.custom-detalle-container .custom-detalle-list-group-item {
  background: rgba(128, 126, 126, 0.322);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
body {
  padding-top: 75px; /* Ajusta esto según la altura de tu navbar */
}

@media (max-width: 768px) {
  body {
      padding-top: 100px; /* Más espacio para pantallas pequeñas si es necesario */
  }
}

/************** Estilo para  la  galería de imágenes *************/
/* Estilo específico para el h2 de la galería */
.titulo-galeria-h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #455aa395; /* Fondo oscuro */
  color: #fff; /* Color blanco */
  font-family: "Playfair Display", serif; 
}

.card-body h5{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 13.5px;
  text-align: center;
}

/* Hover para las tarjetas */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#carouselPeliculas .carousel-inner {
  width: 100%;
  padding: 0 !important; 
  margin: 0 !important;    
}


/* Hover para el título de la película */
.card-title:hover {
  color: #04024f; /
}
.card {
  border: 2px solid #fff; /* Borde delgado */
  padding: 1px; /* Espacio interno */
  border-radius: 15px; /* Esquinas redondeadas */
  background-color: #d1d1d1; /* Fondo claro */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para más estilo */
}

/* Hover para el año de la película */
.card-text:hover {
  color: #080808; 

/* Personalización de los botones del carousel */
.carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: #9a9a9a; 

/* Fondo de la galería */
.carousel-item {
  background-color: #3B4F8C; 

/* Estilo para los controles del carousel */
.carousel-control-prev, 
.carousel-control-next {
  color: #343a40; 
}
/************** Fin Estilo para  la  galería de imágenes *************/